<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta http-equiv="X-UA-Compatible" content="ie=edge">
	<title>HTML 5 Boilerplate</title>
	<link rel="stylesheet" href="css/style.css">

	<style>
		/* styles.css */
	</style>
</head>

<body>


	<!-- Navbar -->
	<div class="navbar">
		<a href="/">Home</a>
		<a href="addStudent">Add Student</a>
		<a href="studentList">All Student</a>
		<a href="addStudentResult">Add Student Result</a>
		<a href="allStudentResult">All Student Result</a>
		<a href="reportCardSearch">Generate Reports</a>
	</div>
	<center><h1>Welcome To Student Management System.</h1></center>
	<!-- Content -->
	<div class="content">
		
		<div class="cntn cntn-box1">
			<img src="img/books.png" style="background-size: cover; height: 70vh;"/>
		</div>
		<div class="cntn cntn-box2">
			<img src="img/student.png" style="background-size: cover; height: 70vh; width: 99%;"/>
		</div>
	</div>

	<script src="index.js"></script>
</body>

</html>